.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}

nav {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    /* padding-right: 100px; */
}
.logo {
    height: 28px;
}
a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 17px;
}
ul {
    list-style-type: none;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 50px;
}
.last-nav {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
/* margin-left: 200px; */

.hero-section {
    padding-left: 60px;
    padding-right: 60px;
}

.hero_content {
    width: 100%;
    position: relative;
    background-color: var(--beige-color);
    border-radius: 30px;
    height: 676px;
    margin-bottom: 100px;
}
.hero-right {
    width: 45%;
}
.hero-left {
    width: 55%;
}
.hero-img {
    position: relative;
    top: 75px;
    left: 90px;
    height: 525px;
}
.round-shape {
    height: 313px;

    position: absolute;
    top: 146px;
    left: 250px;
}

.main-text {
    color: var(--orange-color);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 34px;
}
h1 {
    color: var(--text-color);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 27px;
}
.orange-line {
    width: 40px;
    background-color: var(--orange-color);
}
.words {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 58px;
    line-height: 28px;
    opacity: 0.69;
}

.orange-line {
    margin-bottom: 3px;
    margin-right: 15px;
}

.service {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 80px;
}
.service p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.service h2 {
    margin-bottom: 15px;
}
.intro-container {
    margin-bottom: 100px;
}
hr {
    text-decoration: dotted;
}

.first,
.second,
.third {
    width: 250px;
    margin-right: 35px;
    width: calc((100% - 120px) / 3);
}
.relative {
    position: relative;
}

#heart,
#zap,
#headphone {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}
#heart {
    background-color: #d6ebe4;
}
#zap {
    background-color: #fae2da;
}
#headphone {
    background-color: #ebf5ff;
}
.intro-container {
    margin-bottom: 200px;
}
.text {
    width: calc(100% - 80px - 30px);
    display: inline-block;
    vertical-align: middle;
}
.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text h2 {
    font-size: 24px;
}
/* Second section*/

.designe-section {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
    position: relative;
}
.designe-header__text {
    margin-top: 100px;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-right: 500px;
}
.picture-wrapper {
    position: relative;
    height: 680px;
    width: calc((100% - 30px) / 3);
}
.designe-section .picture-wrapper:not(:last-child) {
    margin-right: 10px;
}

.picture-wrapper img {
    height: 680px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.price {
    border-radius: 20px;
    position: absolute;
    top: 750px;
    bottom: 120px;
    right: 195px;
    width: 20%;
    height: 115px;
    padding: 20px;
    background-color: #fff;
}
.arrow-right-price {
    position: absolute;
    top: 75px;
    right: 25px;
    width: 15px;
    height: 18px;
    width: 25px;
}

.arrow-left {
    position: absolute;
    top: 120px;
    right: 120px;
    height: 20px;
    width: 25px;
}
.arrow-right {
    position: absolute;
    top: 120px;
    right: 170px;
    width: 15px;
    height: 20px;
    width: 25px;
}
h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: var(--orange-color);
    margin-bottom: 10px;
}
.product-name {
    position: absolute;
    color: #1d263a;
    top: -150px;

    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    width: 140px;
}
.progress-section {
    padding: 40px 152px;
}
.progress-section h3 {
    margin-bottom: 110px;
    opacity: 0.69;
    font-size: 17px;
    color: var(--text-color);
    font-weight: 600;
    line-height: 30px; /* 176.471% */
    letter-spacing: 4px;
}

.inline-block {
    display: inline-block;
}
.devider-second {
    margin-bottom: 170px;
}

.progress {
    margin-right: 150px;
    width: calc((100% - 80px - 150px - 150px) * 0.35);
}

.second-progress {
    width: calc((100% - 80px - 150px - 150px) * 0.4);
    opacity: 0.6;
    font-size: 17px;
    font-weight: 400;
    margin-right: 100px;
}

.first-progress {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -1px;
    margin-right: 85px;
}
.num {
    width: calc((100% - 80px - 150px - 150px) * 0.1);
    color: var(--teal-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.5px;
    vertical-align: top;
    margin-right: 50px;
}
/* Product designe*/
.product-description {
    background-color: aqua;
    padding-top: 150px;
    padding-left: 150px;
    position: relative;
    padding-bottom: 150px;
}
.product-description__right {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    padding-top: 200px;
}
.product-description__left {
    display: inline-block;
    width: 40%;
    height: auto;
    position: relative;
    margin-right: 80px;
}
.wife-husband {
    width: 90%;
    border-radius: 30px;
    height: 500px;
    object-fit: cover;
    display: inline-block;
}

.product-progress {
    display: inline-block;
    line-height: 30px;
    margin-bottom: 50px;
}
.progress2 {
    width: 400px;
    margin-bottom: 20px;
}

.shape {
    position: absolute;
    bottom: -50px;
    left: 200px;
}
.last-orange-link {
    padding-bottom: 300px;
}
.last-orange-link img {
    margin-right: 25px;
}
/* Customer Review */

.customers-review {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    height: 760px;
}
h5 {
    margin-right: 100px;
    margin-top: 227px;
    font-size: 50px;
    font-weight: 600;
    line-height: 50.4px;
    letter-spacing: -1px;
    color: var(--white-color);
    margin-bottom: 60px;
}
.customers-review__left {
    padding-left: 100px;
    position: relative;
    height: 100%;
    width: 50%;
    background-color: var(--orange-color);
}
.customers-review__right {
    width: 50%;
}

.customers-review__right img {
    top: 0;
    position: absolute;
    right: 0;
    width: 50%;
    object-fit: cover;
    height: 758px;
}
.author {
    font-size: 17px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 30px;
    margin-left: 150px;
}
.customers-review__left p {
    margin-left: 200px;
    font-size: 17px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 30px;
}
.coffee-img {
    object-fit: cover;
    width: 50%;
    height: 758px;
    position: absolute;
    right: 0;
    top: 0;
}
.play-btn {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: transparent;
}
.play-icon {
    height: 30px;
    width: 30px;
    transition-property: width, higtht;
    transition-duration: 1s;
}
.play-icon:hover {
    height: 46px;
    width: 46px;
}

/* Subscibe section */
.subscribe-section {
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 135px;
    padding-bottom: 135px;
    margin-left: 400px;
}
h6 {
    align-items: center;
    text-align: center;
    width: 500px;
    margin-bottom: 36px;
    color: var(--text-color);
    font-size: 42px;
    font-weight: 600;
    line-height: 50.4px;
}
.info {
    align-items: center;
    text-align: center;
    width: 540px;
    height: 90px;
    font-size: 17px;
    margin-bottom: 57px;
    line-height: 30px;
}
#email {
    font-size: 17px;
    font-weight: 400;
    height: 70px;
    width: 404px;
    border-radius: 10px 0px 0px 10px;
    border-radius: 10px;
    border: 1px solid var(--colour-13, rgba(223, 223, 223, 0.7));
    background: var(--color-4, #fff);
}
#button {
    border: none;
    background-color: var(--teal-color);
    height: 70px;
    width: 200px;
    border-radius: 0px 10px 10px 0px;
}

.security {
    width: 250px;
    text-align: center;
}
.security-part {
    margin-top: 33px;
}
.lock {
}
/* Footer*/
.footer-logo {
    position: absolute;
    top: 130px;
    margin-left: 90px;
    display: inline-block;
    margin-bottom: 70px;
    margin-top: 0;
}
footer {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
.footer-content {
    height: 500px;
    background-color: #fae2da;
    border-radius: 30px;
    padding-top: 130px;
}
.footer-content p {
    font-size: 17px;
    margin-left: 90px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.69;
    margin-bottom: 46px;
}
.footer-text {
    width: 277px;
    margin-bottom: 46px;
}
.footer-company,
.footer-contact,
.footer__product,
.footer__about {
    display: inline-block;
    margin-right: 100px;
}
.footer-company a {
    width: 277px;
    display: block;
}
.footer-company p {
    margin-left: 90px;
}

.footer-contact a {
    display: block;
    line-height: 50px;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
    opacity: 0.69;
}
.footer__product a {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    color: var(--text-color);
    opacity: 0.69;
}
.footer__about a {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    color: var(--text-color);
    opacity: 0.69;
}
.name {
    margin-bottom: 73px;
}
