* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-Regular.otf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-SemiBold.otf) format(truetype);
    font-weight: 600;
}
body {
    font-family: "MazzardL", sans-serif;
}
.content {
    max-width: 1600px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 86px;
}
/* @font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-Regular.otf) format (truetype);
    font-weight: 400;
}

@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-SemiBold.otf) format (truetype);
    font-weight: 600;
} */

:root {
    --text-color: #1d263a;
    --beige-color: #fae2da;
    --orange-color: #ff794d;
    --white-color: #fff;
    --teal-color: #20bfa9;
}

nav {
    height: 30px;
    margin-bottom: 40px;
}
.logo {
    margin-top: 5px;
    margin-right: 90px;
    margin-left: 150px;
}
a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 17px;
}
ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 80px;
}
.last-nav {
    margin-left: 200px;
}

.header {
    position: relative;
    background-color: var(--beige-color);
    border-radius: 30px;
    height: 676px;
    margin-bottom: 100px;
}

.hero-img {
    position: absolute;
    top: 75px;
    left: 90px;
    height: 525px;
}
.round-shape {
    height: 313px;

    position: absolute;
    top: 146px;
    left: 250px;
}
.header-right {
    position: absolute;
    top: 129px;
    right: 77px;
    left: 600px;
}
.main-text {
    color: var(--orange-color);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 34px;
}
h1 {
    color: var(--text-color);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 27px;
}
.orange-line {
    width: 40px;
    background-color: #ff794d;
}
.words {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 58px;
    line-height: 28px;
    opacity: 0.69;
}

.orange-line {
    margin-bottom: 3px;
    margin-right: 15px;
}

.header-bottom {
    padding-left: 140px;
}
.header-bottom p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.header-bottom h2 {
    margin-bottom: 15px;
}
.intro-container {
    margin-bottom: 100px;
}
.header-bottom div {
    display: inline-block;
    vertical-align: top;
    width: calc((100% -120px) / 3);
}
.header-bottom .first,
.second {
    margin-right: 50px;
}
.first,
.second,
.third {
    position: relative;
}
#heart,
#zap,
#headphone {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
#heart {
    background-color: #d6ebe4;
}
#zap {
    background-color: #fae2da;
}
#headphone {
    background-color: #ebf5ff;
}
.intro-container {
    margin-bottom: 200px;
}
.text {
    margin-left: 117px;
}
.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Second section*/

.designe-header__text {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-right: 700px;
}
.picture-wrapper img {
    border-radius: 30px;
    display: inline-block;
    width: auto;
    width: calc((100% - 30px) / 3);
    margin-right: 5px;
    height: 682px;
    object-fit: cover;
    margin-bottom: 100px;
}
#couch {
    margin-left: 3px;
}
.picture-wrapper {
    position: relative;
}
.price {
    position: absolute;
    bottom: 120px;
    right: 100px;
    width: 336px;
    height: 115px;
    padding: 20px;
    background-color: #fff;
}
/* .price h5 {
    color: #1d263a;
    margin-bottom: 100px;
} */
h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: var(--orange-color);
    margin-bottom: 10px;
}
h5 {
    font-size: 13px;
    font-weight: 600;
    line-height: 22px; /* 169.231% */
    letter-spacing: 4px;
}
.arrow {
    margin-left: 10px;
}

/* Process Section*/

.progress-section {
    padding-left: 100px;
}
.progress-section h3 {
    margin-bottom: 110px;
    opacity: 0.69;
    font-size: 17px;
    color: var(--text-color);
    font-weight: 600;
    line-height: 30px; /* 176.471% */
    letter-spacing: 4px;
}

.inline-block {
    display: inline-block;
}
.devider-second {
    margin-bottom: 170px;
}

.progress {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 600;
    line-height: 46px; /* 127.778% */
    letter-spacing: -1px;
    margin-right: 85px;
}
.second-progress {
    opacity: 0.6;
    font-size: 17px;
    font-weight: 400;
    margin-right: 150px;
}

.first-progress {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -1px;
    margin-right: 85px;
}
.num {
    color: var(--teal-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin-right: 70px;
}
/* Product designe*/
.product-description {
    padding-top: 100px;
    padding-left: 50px;
    position: relative;
    padding-bottom: 100px;
}
.product-description__right {
    position: absolute;
    top: 400px;
    margin-left: 100px;
}
.wife-husband {
    border-radius: 30px;
    width: 600px;
    height: 800px;
    object-fit: cover;
    display: inline-block;
}

.product-progress {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}
.progress2 {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 20px;
}
.product-description__left {
    position: relative;
}
.shape {
    position: absolute;
    bottom: -40px;
    left: 250px;
}
/* Customer Review */

.customers-review {
    max-width: 1600px;
    position: relative;
    height: 760px;
    margin-left: -100px;
    margin-right: -100px;
}
h5 {
    margin-top: 227px;
    font-size: 42px;
    font-weight: 600;
    line-height: 50.4px;
    letter-spacing: -1px;
    color: var(--white-color);
    margin-bottom: 60px;
}
.customers-review__left {
    padding-left: 150px;
    position: relative;
    height: 100%;
    width: 50%;
    background-color: var(--orange-color);
}
.customers-review__right {
    width: 50%;
    /* height: 100%; */
}

.customers-review__right img {
    top: 0;
    position: absolute;
    right: 0;
    width: 50%;
    object-fit: cover;
    height: 758px;
}
.author {
    font-size: 17px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 30px;
    margin-left: 150px;
}
.customers-review__left p {
    margin-left: 200px;
    font-size: 17px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 30px;
}
.play {
    display: inline-block;
    vertical-align: top;
    height: 758px;
    width: 100%;
    position: relative;
}
.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: transparent;
}

.play-icon {
    height: 30px;
    width: 30px;
    transition-property: width, higtht;
    transition-duration: 1s;
}

.play-icon:hover {
    height: 46px;
    width: 46px;
}

#play-icon {
    position: absolute;
    top: 400px;
    right: 380px;
    height: 30px;
    width: 30px;
}
/* #play-icon:hover {
    height: 40px;
    width: 40px;
} */
.play-btn {
}
/* Subscibe section */
.subscribe-section {
    padding-top: 135px;
    padding-bottom: 135px;
}
h6 {
    color: var(--text-color);
    font-size: 42px;
    font-weight: 600;
    line-height: 50.4px;
    letter-spacing: -1px;
    opacity: 0.89;
    text-align: center;
}
.info {
    margin-top: 36px;
    margin-left: 400px;
    text-align: center;
    width: 546px;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.69;
    margin-bottom: 57px;
}
#email {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 400px;
    border-color: #dfdfdf;
    height: 70px;
    width: 404px;
    border-radius: 10px 0px 0px 10px;
}
#button {
    border: none;
    margin-left: -5px;
    background-color: var(--teal-color);
    height: 70px;
    width: 200px;
    border-radius: 0px 10px 10px 0px;
}

.security {
    text-align: center;

    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.69;
}
.security-part {
    margin-left: 500px;
    margin-top: 33px;

    position: relative;
    width: 300px;
}
.lock {
    position: absolute;
    top: 8px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 70px;
}
footer {
    padding-top: 132px;
    padding-left: 90px;
    width: 1350px;
    height: 500px;
    background-color: #fae2da;
    border-radius: 30px;
}

.footer-logo__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.69;
    margin-bottom: 46px;
}
.footer-company,
.footer-contact,
.footer__product,
.footer__about {
    display: inline-block;
    margin-right: 150px;
}
.footer-company a {
    width: 277px;
    display: block;
}
.footer-contact a {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    color: #1d263a;
    opacity: 0.69;
    margin-bottom: 25px;
}
.footer__product a {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    color: #1d263a;
    opacity: 0.69;
}
.footer__about a {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    color: #1d263a;
    opacity: 0.69;
}
.name {
    color: #1d263a;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    margin-bottom: 73px;
}
.name1 {
    color: #1d263a;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    margin-bottom: 73px;
    margin-top: -250px;
}
