:root {
    --base-font-size: 10px;
}

.container {
    max-width: 160rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

nav {
    max-width: 160rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
    /* padding-right: 10rem; */
}

.logo {
    margin-right: 30rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.7rem;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 5rem;
}

.last-nav {
    margin-left: 20rem;
}

.hero-section {
    max-width: 166rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

:root {
    --base-font-size: 10px;
}

.hero-content {
    position: relative;
    background-color: var(--beige-color);
    border-radius: 3rem;
    height: 67.6rem;
    margin-bottom: 10rem;
}

.hero-img {
    position: absolute;
    top: 7.5rem;
    left: 9rem;
    height: 52.5rem;
}
.round-shape {
    height: 31.3rem;

    position: absolute;
    top: 14.6rem;
    left: 25rem;
}
.header-right {
    position: absolute;
    top: 12.9rem;
    right: 7.7rem;
    left: 60rem;
}

.main-text {
    color: var(--orange-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 3.4rem;
}

h1 {
    color: var(--text-color);
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 2.7rem;
}

.orange-line {
    width: 4rem;
    background-color: var(--orange-color);
}

.words {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 5.8rem;
    line-height: 2.8rem;
    opacity: 0.69;
}

.service {
    max-width: 160rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 8rem;
}

.service p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
}

.service h2 {
    margin-bottom: 1.5rem;
}

.intro-container {
    margin-bottom: 10rem;
}

hr {
    text-decoration: dotted;
}

.first,
.second,
.third {
    width: 25rem;
    margin-right: 3.5rem;
    width: calc((100% - 12rem) / 3);
}

.relative {
    position: relative;
}

#heart,
#zap,
#headphone {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 0;
}

#heart {
    background-color: #d6ebe4;
}

#zap {
    background-color: #fae2da;
}

#headphone {
    background-color: #ebf5ff;
}

.intro-container {
    margin-bottom: 20rem;
}

.text {
    margin-left: 10rem;
}

.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designe-section {
    max-width: 160rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 10rem;
    position: relative;
}

.designe-header__text {
    margin-top: 10rem;
    font-size: 4.2rem;
    font-weight: 600;
    margin-bottom: 5rem;
    margin-right: 50rem;
}

.picture-wrapper {
    position: relative;
    height: 68rem;
    width: calc((100% - 3rem) / 3);
}

.designe-section .picture-wrapper:not(:last-child) {
    margin-right: 1rem;
}

.picture-wrapper img {
    height: 68rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.price {
    border-radius: 2rem;
    position: absolute;
    top: 75rem;
    bottom: 12rem;
    right: 19.5rem;
    width: 20%;
    height: 11.5rem;
    padding: 2rem;
    background-color: #fff;
}

.arrow-right-price {
    position: absolute;
    top: 7.5rem;
    right: 2.5rem;
    width: 1.5rem;
    height: 1.8rem;
    width: 2.5rem;
}

.arrow-left {
    position: absolute;
    top: 12rem;
    right: 12rem;
    height: 2rem;
    width: 2.5rem;
}

.arrow-right {
    position: absolute;
    top: 12rem;
    right: 17rem;
    width: 1.5rem;
    height: 2rem;
    width: 2.5rem;
}

h4 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.2rem;
    color: var(--orange-color);
    margin-bottom: 1rem;
}

.product-name {
    position: absolute;
    color: #1d263a;
    top: -15rem;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    width: 14rem;
}
.progress-section {
    padding-left: 10rem;
    padding-right: 10rem;
}

.progress-section h3 {
    margin-bottom: 11rem;
    opacity: 0.69;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.4rem;
}

.inline-block {
    display: inline-block;
}
.devider-second {
    margin-bottom: 17rem;
}

.progress {
    margin-right: 8.5rem;
    width: 25rem;
    letter-spacing: -0.1rem;
}
.second-progress {
    width: 35rem;
    opacity: 0.6;
    font-size: 1.7rem;
    font-weight: 400;
    margin-right: 10rem;
}

.first-progress {
    color: var(--text-color);
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.6rem;
    letter-spacing: -0.1rem;
    margin-right: 8.5rem;
}
.num {
    color: var(--teal-color);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.05rem;
    margin-right: 7rem;
    vertical-align: top;
}

/* Product designe*/
.product-description {
    max-width: 160rem;
    padding-top: 10rem;
    padding-left: 10rem;
    position: relative;
    padding-bottom: 15rem;
}
.product-description__right {
    position: absolute;
    width: 30%;
    top: 30rem;
}
.product-description__left {
    width: 50%;
    position: relative;
}
.wife-husband {
    width: 100%;
    border-radius: 3rem;
    height: 60rem;
    object-fit: cover;
    display: inline-block;
}

.product-progress {
    margin-left: 10rem;
    line-height: 3rem;
    margin-bottom: 5rem;
}
.progress2 {
    margin-left: 10rem;
    width: 40rem;
    margin-bottom: 2rem;
}

.shape {
    position: absolute;
    bottom: -4rem;
    left: 25rem;
}
.orange-line-last {
    width: 4rem;
    background-color: var(--orange-color);
    margin-left: 10rem;
    margin-right: 2rem;
}

/* Customer Review */
.customers-review {
    max-width: 160rem;
    position: relative;
    height: 76rem;
}
h5 {
    margin-right: 10rem;
    margin-top: 22.7rem;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.04rem;
    letter-spacing: -0.1rem;
    color: var(--white-color);
    margin-bottom: 6rem;
}
.customers-review__left {
    padding-left: 15rem;
    position: relative;
    height: 100%;
    width: 50%;
    background-color: var(--orange-color);
}
.customers-review__right {
    width: 50%;
}

.customers-review__right img {
    top: 0;
    position: absolute;
    right: 0;
    width: 50%;
    object-fit: cover;
    height: 75.8rem;
}
.author {
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 3rem;
    margin-left: 15rem;
}
.customers-review__left p {
    margin-left: 20rem;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 3rem;
}
.coffee-img {
    object-fit: cover;
    width: 50%;
    height: 75.8rem;
    position: absolute;
    right: 0;
    top: 0;
}
.play-btn {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 9.2rem;
    height: 9.2rem;
    border-radius: 50%;
    border: 0.4rem solid white;
    background-color: transparent;
}
.play-icon {
    height: 3rem;
    width: 3rem;
    transition-property: width, height;
    transition-duration: 1s;
}
.play-icon:hover {
    height: 4.6rem;
    width: 4.6rem;
}

/* Subscribe section */
.subscribe-section {
    padding-top: 13.5rem;
    padding-bottom: 13.5rem;
}
h6 {
    margin-left: 40rem;
    width: 50rem;
    margin-bottom: 3.6rem;
    color: var(--text-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.04rem;
    letter-spacing: -0.1rem;
}
.info {
    margin-left: 40rem;
    text-align: center;
    width: 54rem;
    height: 9rem;
    font-size: 1.7rem;
    margin-bottom: 5.7rem;
    line-height: 3rem;
}
#email {
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 35rem;
    height: 7rem;
    width: 40.4rem;
    border-radius: 1rem 0rem 0rem 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--colour-13, rgba(223, 223, 223, 0.7));
    background: var(--color-4, #fff);
}
#button {
    border: none;
    background-color: var(--teal-color);
    height: 7rem;
    width: 20rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

.security {
    width: 25rem;
    margin-left: 6rem;
    text-align: center;
}
.security-part {
    margin-left: 50rem;
    margin-top: 3.3rem;
    position: relative;
    width: 30rem;
}
.lock {
    position: absolute;
    top: 0.8rem;
    left: 5rem;
}

/* Footer */
.footer-logo {
    position: absolute;
    top: 13rem;
    margin-left: 9rem;
    display: inline-block;
    margin-bottom: 7rem;
    margin-top: 0;
}
footer {
    max-width: 160rem;
    position: relative;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 6rem;
}
.footer-content {
    height: 50rem;
    background-color: #fae2da;
    border-radius: 3rem;
    padding-top: 13rem;
}
.footer-content p {
    font-size: 1.7rem;
    margin-left: 9rem;
    font-weight: 400;
    line-height: 3rem;
    opacity: 0.69;
    margin-bottom: 4.6rem;
}
.footer-text {
    width: 27.7rem;
    margin-bottom: 4.6rem;
}
.footer-company,
.footer-contact,
.footer__product,
.footer__about {
    display: inline-block;
    margin-right: 10rem;
}
.footer-company a {
    width: 27.7rem;
    display: block;
}
.footer-company p {
    margin-left: 9rem;
}

.footer-contact a {
    display: block;
    line-height: 5rem;
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 400;
    opacity: 0.69;
}
.footer__product a {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 5rem;
    color: var(--text-color);
    opacity: 0.69;
}
.footer__about a {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 5rem;
    color: var(--text-color);
    opacity: 0.69;
}
.name {
    margin-bottom: 7.3rem;
}
